# Python 캐시/컴파일 파일 무시
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 출력 결과물 폴더 무시
outputs/

# VS Code 환경 설정 무시
.vscode/
*.code-workspace

# 가상환경 폴더 무시
env/
venv/
ENV/
.venv/

# 히스토리 및 백업, 임시, 불필요 파일,폴더 제외
.history/
history/
*.bak
backup/
*.tmp
*.swp
*.swo  

# 압축파일 제외
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.7z

# Doc 히스토리 문서
docs/*history*

# images 폴더 제외
images/

# models sub folder  weights
models/weights/

# test 소스 폴더 제외
tests/
test/

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# Python 패키지/빌드 파일
*.egg-info/
dist/
build/

# OS 파일 무시
.DS_Store
Thumbs.db

# '이름.숫자2개.py' 형식 무시 (예: bg_composer.01.py)
*.[0-9][0-9].py

# '이름.숫자2개.ini' 형식 무시 (예: config.01.ini)
*.[0-9][0-9].ini

# '이름.숫자2개.txt' 형식 무시 (예: xxx.01.txt)
*.[0-9][0-9].txt

# '이름.숫자2개.doc' 형식 무시 (예: xxx.01.doc)
*.[0-9][0-9].doc

# '이름.숫자2개.md' 형식 무시 (예: xxx.01.md)
*.[0-9][0-9].md

# '이름.숫자2개.json' 형식 무시 (예: xxx.01.json)
*.[0-9][0-9].json

# '이름.숫자2개.jsonl' 형식 무시 (예: xxx.01.json)
*.[0-9][0-9].jsonl

# 로컬 실행 weight 파일 무시
utils/weights/

# 레파지토리 동기화 항목 제거 방법
# 1. .gitignore에 패턴을 추가한 후 저장합니다.
# 2. Git 캐시에서 해당 패턴의 파일들만 제거 (실제 파일은 삭제되지 않음)
# git rm --cached *.[0-9][0-9].py
# 3. 변경사항 커밋
# git commit -m "Stop tracking versioned py files"